import React, { memo, FC } from "react";
import { <%= data.name %>Wrapper } from "./style";
const <%= data.name %>: FC = () => {
  return (
    <<%= data.name %>Wrapper>
      <div>我是<%= data.name %></div>
    </<%= data.name %>Wrapper>
  );
};

export default memo(<%= data.name %>);
